# Lege das Standardverhalten für alle Dateien fest
* text=auto eol=lf

# Gib explizit an, welche Dateitypen immer LF haben sollen
*.js text eol=lf
*.ts text eol=lf
*.json text eol=lf
*.md text eol=lf
*.html text eol=lf
*.css text eol=lf
*.scss text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Gib an, welche Dateien binär sind und unberührt bleiben sollen
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg binary
*.eot binary
*.ttf binary
*.woff binary
*.woff2 binary
