@use 'sass:map';
/*
  ==========================================================================
  HAUPT-SCSS-DATEI (styles.scss)
  ==========================================================================
  Zweck:
  - Dient als zentraler Einstiegspunkt für alle globalen Stile.
  - Importiert alle SCSS-Partials in der korrekten Reihenfolge.
  - Enthält selbst KEINE direkten Stil-Regeln, nur Imports und Kommentare.
  ==========================================================================
*/

// 2. Core-Stile (Grundlagen für die gesamte Seite)

@forward 'core/spaces';
@forward 'core/typography';
@forward 'core/themes';
@use 'core/palettes' as p;
@use 'core/themes' as t;
@use 'core/reset';

@forward 'components/modal';

body {
  // Set the dark theme as the default.
  @include t.theme(map.get(p.$themes, dark));

  // Override variables if the light theme is active.
  &[data-theme='light'] {
    @include t.theme(map.get(p.$themes, light));
  }

  background-color: var(--color-surface-1);
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}
